<!DOCTYPE html>
<html lang="br">
    <head>
        <meta charset="UTF-8">
         <!-- Bootstrap CSS -->
        <!-- Meta tag Obrigatória-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <title>Transações</title>
    </head>
    <body>
        <h2 class="container bg-dark text-light p-3">Transações:</h2>
        <!--Inicia um for para cada transacao na lista trasacoes-->
        <div>
            {% for transacao in transacoes %}<!--Acessa o identificador trasacoes
             do dicionario enviado pelo view, para accessar as transações feitas-->
                <div class="container bg-danger text-light p-1">
                    <b>{{ transacao.descricao }}</b><!--Exibe a descricao do loop atual-->
                </div>
                <div class="container bg-dark text-light p-3">
                    <b>Data:</b> {{ transacao.dt_criacao }}<!--Exibe a data-->
                    <br><b>Valor:</b> R$ {{ transacao.valor }}<!--Exibe o valor-->
                    <br><b>Categoria:</b> {{ transacao.categoria }}<!--Exibe a categoria-->
                    <br><b>Observação:</b> {{ transacao.observacao }}<!--Exibe a observacao-->
                </div>
            {% endfor %}<!--Finaliza o for-->
        </div>
    </body>
</html>
